.job-card {
    padding: 20px;
    border-radius: 12px;
    height: 580px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posting-date-time {
    color: var(--color-neutral-2);
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
    padding: 4px 6px;
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    font-size: 9px;
    margin-bottom: 16px;
}


.company-details {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.role-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.company-img {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.estimated-salary {
    margin: 16px 0;
}

.about-company-container {
    position: relative;
}

.show-more-btn {
    cursor: pointer;
    color: var(--color-accent-B);
    position: absolute;
    bottom: 0;
    left: 40%;
}

.about-company {
    height: 180px;
    overflow-y: hidden;
    mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.about-company-heading {
    margin: 4px 0;
}

.exp-required {
    margin: 20px 0 12px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.action-cta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.easy-apply-btn {
    background-color: var(--color-accent-A);
}

.unlock-referral-btn {
    background-color: var(--color-accent-B);
    color: var(--color-white);
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 18px;
    height: 36px;
}

.easy-apply-icon {
    color: var(--color-accent-C);
}